{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "array-callback-return": ["warn"],
    "consistent-this": ["error", "self"],
    "dot-notation": ["error"],
    "eol-last": ["error"],
    "eqeqeq": ["error", "smart"],
    "handle-callback-err": ["error"],
    "newline-per-chained-call": ["off"],
    "no-console": "off",
    "no-iterator": ["warn"],
    "no-mixed-requires": ["error"],
    "no-nested-ternary": ["off"],
    "no-path-concat": ["error"],
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "no-unneeded-ternary": ["error"],
    "no-unused-vars": ["off"],
    "no-useless-constructor": ["off"],
    "no-var": ["warn"],
    "object-curly-spacing": ["warn", "always", { "arraysInObjects": true, "objectsInObjects": true }],
    "prefer-arrow-callback": ["warn"],
    "prefer-const": ["warn"],
    "quote-props": ["warn", "as-needed"],
    "require-atomic-updates": "off",
    "strict": ["error", "never"],
    "@typescript-eslint/no-unused-vars": ["error", {"vars": "all", "args": "after-used", "varsIgnorePattern": "React"}],
  }
}
